/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-------------------------------------
                GERAL
--------------------------------------*/
html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(15px + 0.390625vw);
}
a {
    text-decoration: none;
    color: white;
}
/*-------------------------------------
                HEADER
--------------------------------------*/
header {
    background-color: #3B8686;
    padding: 40px 9vw;
}
header nav {
    display: flex;
    justify-content: space-between;
}
header nav ul {
    display: flex;
}
header nav ul li {
    margin: 0 5vw 0 0;
}
header nav ul li span {
    background-color: #c4c4cc44;
    padding: 5px 25px;
    border-radius: 30PX;
}
/*-------------------------------------
                CONTEUDO    
--------------------------------------*/
section.banner {
    padding: 30vw 9vw 7vw 9vw;
    background: linear-gradient(rgba(121, 189, 154, 0.2),rgba(121, 189, 154, 0.2)), url(../images/back-banner.png) no-repeat center center;
    background-size: cover;
}
section.banner h2 {
    font-size: 3rem;
    color: #FFFFFF;
    background-color: rgba(59, 134, 134, 0.5);
    width: 45%;
}
section.servico ul{
    padding: 10vw 9vw 10vw 9vw;
    display: flex;
}
section.servico ul li {
    text-align: center;
}
section.servico ul li span {
    font-size: 3.2rem;
    color: #3B8686;
}
section.servico ul li h3 {
    font-weight: bold;
    font-size: 1.4rem;
    margin: 2vw 0 ;
}
section.servico ul li p {
    color: #747474;
    font-size: 0.7rem;
    margin: 0 6vw 2vw 6vw;
}
section.servico ul li a {
    background-color: #3B8686;
    padding: 10px 30px;
    font-size: 0.8rem;
}
section.informacoes {
    padding: 6vw 9vw 6vw 9vw;
    background: linear-gradient(rgba(121, 189, 154, 0.5),rgba(121, 189, 154, 0.5)), url(../images/back-numeros.png) no-repeat center center;
    background-size: cover;
}
section.informacoes ul {
    display: flex;
    justify-content: space-between;
}
section.informacoes ul li{
    text-align: center;
    margin: 0vw 2vw;
}
section.informacoes ul li span {
    color: white;
    font-size: 3.5rem;
}
section.informacoes ul li p{
    color: white;
    font-size: 2.2rem;
    margin: 1vw 0vw;
    font-weight: 600;
}
section.atv {
    padding: 9vw;
    display: flex;
}
section.atv div {
    margin: 0 5vw;
}
section.atv div h2 {
    font-size: 2rem;
    color: #0B486B;
}
section.atv div p.text {
    font-size: 0.7rem;
    color: #747474;
    margin: 2vw 0 2vw 0;
    line-height: 1.2rem;
}
section.atv div p a.dois {
    background-color: #0B486B;
    padding: 15px 17px;
    font-size: 0.7rem;
    font-weight: 600;
}
section.atv div p a.dois {
    margin:0 1vw ;
}
section.atv div p a.um {
    background-color: #0B486B;
    padding: 15px 35px;
    font-size: 0.7rem;
    font-weight: 600;
}
footer{
    background-color: #3B8686;
    padding: 3vw 15vw 1vw 15vw;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}
footer div.icone ul {
    display: flex;
    margin: 0 0 2vw 0;
}
footer div.icone ul li {
    margin: 0 1vw 0 0;
    font-size: 2rem;
}
footer div.cntt p.txt {
    margin: 10px 0;
}
footer div.list ul li {
    margin: 1vw 0;
    text-align: right;
}